.parentContainer {
  @apply 
  /* border-4 border-green-500  */
  flex flex-col h-max  md:flex-row;
}

.leftChild {
  @apply
   /* border-2 border-blue-500  */
  w-[100%]   h-full md:w-[100vw] lg:w-[70%];
}

.imageStyling {
  @apply w-full lg:w-full h-full md:h-[100vh] lg:h-[695px] md:w-fit object-cover;
}

.rightChild {
  @apply w-full md:w-[60%] lg:w-[45%] h-full 
   /* border-4 border-red-700 */
   ;
}

.formContainer {
  @apply border-r-8 border-r-orange-300 border-b-8 border-b-orange-300 w-[90%] md:w-[80%] lg:w-[70%] h-[90vh] md:h-[90vh] lg:h-fit m-auto  p-[25px] pt-[40px] rounded-2xl shadow-2xl my-20;
}

.heading {
  @apply text-orange-500 text-3xl text-center font-semibold font-sans;
}

.form {
  @apply w-[100%]  m-auto  p-[28px] grid grid-cols-1 justify-around gap-8;
}

.inputBoxes {
  @apply border-2 border-gray-400 p-[10px] md:p-[10px] lg:p-[10px] w-[100%] md:w-[100%] lg:w-[100%] rounded-lg shadow-lg;
}

.submitBtn {
  @apply border-2 bg-orange-500 text-[18px] hover:bg-orange-700 text-white w-[60%] md:w-[70%] lg:w-[80%] font-normal p-[8px] rounded-xl m-auto;
}

.linkBtn {
  @apply text-[14px] md:text-[16px] lg:text-[16px]  text-orange-500 hover:text-[#250ef0];
}


/* Add these styles to your existing CSS file */
.inputGroup {
  width: 100%;
  margin-bottom: 15px;
}

.inputError {
  border: 1px solid #ff3333 !important;
}

.errorText {
  color: #ff3333;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}
